:root{
	font-size: 10px;
	--lpink:#FF597A;
	--dpink:#CB4661;
	--lgreen:#42837D;
	--dgreen:#2E524F;
	--lbrown:#4B3703;
	--dbrown:#2C2107;
	--ddbrown:#0E1A19;
	--dbrown80:rgb(44, 33, 7,0.8);
	--lyellow:#F9CB55;	
	--dyellow:#FFB800;
	--blue:#86FFF4;

	--primary-font:'Oswald', sans-serif;
	--secondary-font:'Merriweather', serif;
	--pfwb:700;
	--pfwl:300;
	--sfw:300;
	--sfs:italics;

	--fsh1:5rem;
	--fsh2:3rem;
	--fsh3:2rem;
	--fstext:1.6rem;
	--fsbutton:2rem;

}
/**********************************************/
/*Animaciones*/
